@font-face {
  font-family: 'fixedsys_excelsior_3.01Rg';
  src: url('media/font.woff2') format('woff2'), url('media/font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font: 'fixedsys_excelsior_3.01Rg', sans-serif;
  --color: lavenderblush;
  --highlight-color: #db6482;
  --link-color: #d12e56;
  --background: #1c0b0f;
  --base-font-size: 14px;
}

html,
body {
  margin: 0 auto;
  height: 100%;
  background: var(--background);
  color: var(--color);
  font-size: var(--base-font-size);
  font-family: var(--font);
}

body {
  padding: 1rem;
  height: 95vh;
  max-width: 750px;
  display: grid;
  place-items: center;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  body {
    max-width: 90%;
  }
}

div.maingrid {
  position: static;
  height: auto;
  width: auto;
  margin: 0 auto;
}

header {
  width: 100%;
  font-size: 3rem;
}

div.start {
  border: 1px dotted var(--link-color);
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 2rem;
}

code {
  font-family: var(--font);
  color: var(--highlight-color);
}

img.emoji {
  height: 2rem;
  width: 2rem;
  position: relative;
}

img[class="emoji footer"] {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
}

header > img[class="emoji text"] {
  top: 2px;
  margin: 0 5px;
}

p.headline > img[class="emoji text"] {
  height: 1.4rem;
  width: 1.4rem;
  top: 2px;
  margin: 0 2px;
}

p.headline {font-size: 1.4rem;}
p.subheadline {font-size: 1.2rem;}
p.credits {font-size: 1.1rem;}

div.start > h3 {
  margin-bottom: 0.1rem;
  margin-top: 1rem;
}

a {color: var(--link-color);}
a:hover {color: var(--highlight-color);}

::-moz-selection {
  color: var(--highlight-color);
  background: var(--color);
}

::selection {
  color: var(--highlight-color);
  background: var(--color);
}